/************************************************
MAIN
************************************************/

.App {
  width: 100%;
  min-height: 100%;
  background-color: #000000;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/************************************************
FLASHCARD
************************************************/
.card-container {
  cursor: pointer;
  height: 25rem;
  width: 25rem;
  perspective: 100rem;
  position: relative;
  margin: auto;
  margin-bottom: 5rem;
  transition: ease-in;
}

.card {
  height: 25rem;
  width: 25rem;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}

.card .front {
  height: 25rem;
  width: 25rem;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255,251,251, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  height: 25rem;
  width: 25rem;
  text-align: center;
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(180deg);
  background-color: rgba(255,251,251, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
}

.frontCard {
  color: #333333;
  font-size: 2.3rem;
  /* padding-top: 10%; */
}

.backCard {
  color: #333333;
  font-size: 1rem;
  /* padding-top: 20%; */
}

.flash-buttons {
  margin-top: 1rem;
  padding: 0, 0.5rem, 0, 0.5rem;
}


/************************************************
FLASHPAGE
************************************************/

.flashPage {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardRow {
  padding: 0.3125rem;
}

.btnRow {
  padding: 0.3125rem;
}


/************************************************
SIGN-IN MODAL
************************************************/

.signup-button {
  width: 60%;
  height: 3rem;
}

/************************************************
Category Components
************************************************/
.category-header {
  color: #FFF;
  font-size: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category{
  margin-top: -3.125rem;
}

.category-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

ul {
  width: 100%;
  display: inline-block;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

ul a {
  list-style: none;
  /* display: inline-block; */
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  padding: 0.625rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
  border-radius: 2px;  
}

/* ul a:hover {
  box-shadow: 0px 0px 0px 3px #FFF ;
  color: white;
} */

.button-hover {
  box-shadow: 0px 0px 0px 1px #FFF ;
  transition: box-shadow 0.3s linear;
  margin: 0.5em; 
}

.button-hover:hover {
  box-shadow: 0px 0px 0px 3px #FFF ;
  color: white;
}

.btn-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-list {
  display: flex;
  flex-flow: wrap;
  padding: 0;
  width: 60%;
  margin: 0 auto;
}

/************************************************
Language Components
************************************************/

.typewriter-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
  text-align: center;
}

.typewriter h1 {
  width: 100%;
  color: #fff;
  font-family: 'Space Mono', monospace;
  white-space: normal; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}


.lang-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4.6875rem;
  text-align: center;
}

.btnTopic {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.languageText {
  width: 100%;
}


/************************************************
LANDING PAGE AKA FIXED MENU
************************************************/

.LoginButton {
  margin-left: 0.5rem;
}

.top-container {
  min-height: 43.75rem;
  padding: 1em 0em;
}

.btn-Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-social {
  width: 250px;
  margin: 10px;
  

}

.btn-git {
  margin-bottom: 1em;
}

.landingPage {
  width: 100%;
  height: 100%;
}


/************************************************
MENUBAR
************************************************/

.menu {
  min-height: 100%;
}

.hamburger {
  width: 2.5rem;
  height: 2rem;
}

.buttonRow {
  margin-bottom: 2rem;
}
