/************************************************
MAIN
************************************************/

.App {
  width: 100%;
  min-height: 100%;
  background-color: #0B3948;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/************************************************
FLASHCARD
************************************************/

.flashcard {
  height: 20rem;
  margin-top: 1.5rem;
  background-color: #D9DBF1;
}

.flash-head {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #D0CDD7;
}

.flash-buttons {
  margin-top: 1rem;
  padding: 0, 0.5rem, 0, 0.5rem;
}


/************************************************
FLASHPAGE
************************************************/

.flashPage {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/************************************************
SIGN-IN MODAL
************************************************/

.signup-button {
  width: 60%;
  height: 3rem;
}

/************************************************
Category Components
************************************************/
.category-header {
  color: #FFF;
  font-size: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category{
  margin-top: -3.125rem;
}

.category-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.875rem;
}

ul {
  width: 100%;
  display: inline-block;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

ul a {
  list-style: none;
  /* display: inline-block; */
  color: #000000;
  border: 1px solid #F7E018;
  border-radius: 1rem;
  background-color: #F7E018;
  margin: 0.625rem;
  padding: 0.625rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
}

#btn-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-list {
  display: flex;
  flex-flow: wrap;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

/************************************************
Language Components
************************************************/

.typewriter-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
  text-align: center;
}

.typewriter h1 {
  width: 100%;
  color: #fff;
  font-family: 'Space Mono', monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #fff; /* The typwriter cursor */
  white-space: normal; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFF }
}
.lang-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4.6875rem;
  text-align: center;
}

.btnTopic {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.languageText {
  width: 100%;
}


/************************************************
LANDING PAGE
************************************************/

.LoginButton {
  margin-left: 0.5rem;
}

.top-container {
  min-height: 43.75rem;
  padding: 1em 0em;
}

.btn-Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-social {
  width: 250px;
}

.btn-git {
  margin-bottom: 1em;
}

.landingPage {
  width: 100%;
  height: 100%;
}

/************************************************
MENUBAR
************************************************/

.menu {
  min-height: 100%;
}

.hamburger {
  width: 2.5rem;
  height: 2rem;
}
