/************************************************
MAIN
************************************************/

.App {
  width: 100%;
  min-height: 100%;
  background-color: #0B3948;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/************************************************
FLASHCARD
************************************************/

.flashcard {
  height: 20rem;
  margin-top: 1.5rem;
  background-color: #D9DBF1;
}

.flash-head {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #D0CDD7;
}

.description {
  background-color: #D0CDD7;
  padding-bottom: .5rem;
}


.buttonField {
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/************************************************
SIGN-IN MODAL
************************************************/
.modal {
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

/*********************************************************************/

.topic-container {
  margin: 0 auto;
  text-align: center;
}

.topics {
  width: 100px;
  height: 100px;
}

.btnTopic {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* outline: none; */
}

.topic-header {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.cat-header {
  color: #FFF;
  font-size: 80px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  border: 1px solid #F7E018;
  background-color: #F7E018;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  font-size: 2vw;
  font-weight: bold;
  width: 40%;
}

a {
  color: #000;
}

/************************************************
Language Components
************************************************/

.typewriter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
}

.typewriter h1 {
  color: #fff;
  font-family: 'Space Mono', monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFF }
}
.lang-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
}

.btnTopic {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/************************************************
LANDING PAGE
************************************************/

.LoginButton {
  margin-left: 0.5rem;
}

.top-container {
  min-height: 43.75rem;
  padding: 1em 0em;
}

.ui .inverted .header .main-header {
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 3em;
  
}

