/************************************************
MAIN
************************************************/

.App {
  width: 100%;
  min-height: 100%;
  background-color: #0B3948;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/************************************************
FLASHCARD
************************************************/

.flashcard {
  height: 20rem;
  margin-top: 1.5rem;
  background-color: #D9DBF1;
}

.header {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #D0CDD7;
}

.description {
  background-color: #D0CDD7;
  padding-bottom: .5rem;
}


.buttonField {
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/************************************************
SIGN-IN MODAL
************************************************/
.modal {
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

/*********************************************************************/

.topic-container {
  margin: 0 auto;
  text-align: center;
}

.topics {
  width: 100px;
  height: 100px;
}

.btnTopic {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* outline: none; */
}

.topic-header {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.cat-header {
  color: #FFF;
  font-size: 80px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  border: 1px solid #F7E018;
  background-color: #F7E018;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  font-size: 2vw;
  font-weight: bold;
  width: 40%;
}

a {
  color: #000;
}
